.inline-block{
display: inline-block;
vertical-align: top;
color: black;
}

nav{ 
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    display: inline-block;
    text-align: center ;
    justify-content: space-evenly;
    font-size: 18px; 
    font-family:'Cormorant Garamond', serif;
}

.logo{
    width: 23px;
    padding: 1%;
    text-align: left;
    display: inline-block;
}
.navigation img{
 width: 63px;
 height: 63px;
 margin: auto;
}

ul{ 
    width: 70%;
    margin-left: auto;
}
.heroimg{
    height: 500px;
    width: 100%; 
    background-color:rgb(27,32,33);    display: block;
    text-align: center;
}
.content h1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;

}
.content{
    width: 500pt;
    padding: 5px;
    margin: 0 auto;
    background-color:rgb(27,32,33);
    color: white;
    text-align: center;
    font-family:'Cormorant Garamond', serif;}

    .content img{
    width: 200px;
}

.buttonPrimary{
    background-color: rgb(120,104,230);
    color:white;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease;
    }

.mySkills{
text-align: center;
background-color:rgba(237,238,247,0.5) ;
}

.mySkills h1{
    font-family:'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 30px;
}
.mySkills h3{
    font-family:'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 25px;
}
.mySkills p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 17px;
}

.flexContainer{
    display: flex;
    padding: 25pt;
}

div .flexContainer{
    width: 33%;
    height: 200px;
    margin: auto;
    padding: 25pt;
    text-align:center;
    justify-content: space-evenly;
}

.myWork{
    text-align: center;
    background-image: linear-gradient(to right,rgb(228,251,255),rgb(184,181,255));
}

.myWork h1{
    font-family:'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 30px;
}

.myWork h4{
    font-family:'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 25px;
}

.myWork p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 17px;
}
.myWork h3{
    font-family:'Cormorant Garamond', serif;
    font-size: 21px;
    font-weight: 600;
    text-decoration: underline;
    padding: 25pt;
    
}

.project1{
    padding: 25pt;
    display: grid;
    height: 350px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    " project1Overview project1Image project1Image ";
    
}
.project2{
    padding: 25pt;
    display: grid;
    height: 350px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    " project2Image project2Image project2Overview  ";
}


.project1Overview{
    grid-area: project1Overview;
    
}
.project1Image{
    grid-area: project1Image;
    background-color: rgb(179, 181, 184); 
}
.project1Image img{
    height: auto;
}
.project2Overview{
    grid-area: project2Overview;
}
.project2Image{
    grid-area: project2Image;
    background-color: rgb(179, 181, 184);
}
.project2Image img{
    height: auto;
}

.project3Overview{
    grid-area: project3Overview;
}
.project3Image{
    grid-area: project3Image;
    background-color: rgb(179, 181, 184);
}
.project3Image img{
    height: auto;
}

footer {
    background-color:rgb(27,32,33);
    width:100%;
    padding:25px;
    font-family:'Cormorant Garamond', serif;
}

footer, ul{
    display: inline-block;
    vertical-align: top;
}
footer, li{
padding: 1%;
text-align: left;
color: white;
display: inline-block;
}

@media only screen and (max-width:600px) {
.project1{
    display: grid;
    width: 100%;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project1Overview" 
    "project1Image" ;
    }
.project2{
    display: grid;
    width: 100%;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project2Overview" 
    "project2Image" ;}

 .project3{
    display: grid;
    width: 100%;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project3Overview" 
    "project3Image" ;}   
    
.buttonPrimary{
    background-color: rgb(120,104,230);
    color:white;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 15px;
    transition: all 0.5s ease;
}
}